@font-face {
  font-family: "pf_handbook_probold";
  src: url("../assets/fonts/PFHandbookPro-Bold_35433.woff") format("woff");
}
@font-face {
  font-family: "pf_handbook_promedium";
  src: url("../assets/fonts/pfhandbookpro-medium.woff2") format("woff2"), url("../assets/fonts/pfhandbookpro-medium.woff") format("woff");
}
@font-face {
  font-family: "pf_handbook_proregular";
  src: url("../assets/fonts/pfhandbookpro-regular.woff2") format("woff2"), url("../assets/fonts/pfhandbookpro-regular.woff") format("woff");
}
.arrow-right {
  border: solid #FFFFFF;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 4px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.main-container {
  padding: 2rem 4rem 0rem 4rem;
}

.surfly-container {
  padding: 0;
  margin: 0.4rem auto;
  overflow: auto;
  background: #FFFFFF;
}

.container {
  padding: 0;
}
@media (min-width: 1201px) {
  .container {
    padding: 0;
    width: 100%;
  }
}

.abc-primary-btn {
  background: #C7222A;
  border: 1px solid #C7222A;
  color: #FFFFFF;
  font-size: 2rem;
  padding: 0.6rem 1.6rem;
  -webkit-box-shadow: 0px 3px 6px rgba(199, 34, 42, 0.2);
  -moz-box-shadow: 0px 3px 6px rgba(199, 34, 42, 0.2);
  box-shadow: 0px 3px 6px rgba(199, 34, 42, 0.2);
}
.abc-primary-btn.mt {
  margin-top: 1.4rem;
}
.abc-primary-btn .btn-arr {
  margin-left: 3rem;
}
.abc-primary-btn:hover {
  color: #FFFFFF;
}

.footer-bottom-wrapper {
  width: 100%;
  float: left;
}

.brand-dark-grey {
  background: #6C7174;
}

.top-white * {
  color: #FFFFFF !important;
}
.top-white *:before {
  color: #FFFFFF !important;
  border: #FFFFFF !important;
}
.top-white *:after {
  color: #FFFFFF !important;
  border-color: #FFFFFF !important;
}
.top-white *:hover {
  border-color: #FFFFFF !important;
}

.footer-logo {
  float: left;
  margin-right: 10px;
}
.footer-logo img {
  max-width: 130px;
  height: auto;
}
.footer-logo a {
  border-bottom: none;
}

.upper-div {
  float: left;
  width: 100%;
  padding: 40px 0;
  border-bottom: 1px solid #CDCECE;
}
.upper-div:hover {
  border-bottom: 1px solid #CDCECE !important;
}
@media screen and (max-width: 1020px) {
  .upper-div {
    border-bottom: none;
  }
}
.upper-div .lcol:nth-child(n+6) {
  margin-top: 12px;
}
@media (max-width: 1400px) {
  .upper-div .lcol:nth-child(n+7) {
    margin-top: 12px;
  }
}
@media (max-width: 1200px) {
  .upper-div .lcol:nth-child(n+6) {
    margin-top: 12px;
  }
}
.upper-div .lcol {
  flex-direction: row;
  display: block;
  width: 17%;
  padding-left: 0;
}
@media screen and (max-width: 1300px) {
  .upper-div .lcol ul li a {
    font-size: 13px;
  }
}
.upper-div .lcol ul li a:hover {
  border: none;
}
.upper-div ul {
  padding-left: 0;
  margin-bottom: 0;
}
.upper-div ul li {
  margin-top: 12px;
  padding: 0;
}
.upper-div ul li:first-child {
  margin-top: 0;
}
.upper-div ul li:before {
  display: none;
}
.upper-div ul li a {
  color: #FFFFFF;
  font-size: 1.6rem;
  line-height: 24px;
}
.upper-div ul li a:hover, .upper-div ul li a:active, .upper-div ul li a:focus {
  border-bottom-color: #FFFFFF;
}
.upper-div ul + ul {
  margin-top: 12px;
}
@media screen and (max-width: 767px) {
  .upper-div {
    padding: 32px 0 0px 0;
  }
}

.lower-div {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  clear: both;
  padding: 32px 0 22px 0;
}
@media screen and (max-width: 767px) {
  .lower-div {
    display: block;
    float: left;
  }
}
.lower-div .copyright p {
  color: #FFFFFF;
  font-size: 1.6rem;
  line-height: 24px;
}
@media screen and (max-width: 1020px) and (min-width: 768px) {
  .lower-div .copyright p {
    margin-bottom: 0;
  }
}
.lower-div .socialicons ul {
  padding-left: 0;
  margin-bottom: 0;
  float: right;
}
.lower-div .socialicons ul li {
  display: inline-block;
  padding: 0 8px;
}
.lower-div .socialicons ul li:before {
  display: none;
}
.lower-div .socialicons ul li a {
  color: #FFFFFF;
}
.lower-div .socialicons ul li a:hover, .lower-div .socialicons ul li a:active, .lower-div .socialicons ul li a:focus {
  border-bottom: none;
}
.lower-div .socialicons ul li a .icon {
  color: #FFFFFF;
  font-size: 2.2rem;
}
@media screen and (max-width: 767px) {
  .lower-div .socialicons ul {
    display: none;
  }
}
@media screen and (max-width: 1020px) {
  .lower-div .socialicons {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .lower-div .socialicons {
    display: block;
  }
}
@media screen and (max-width: 1020px) and (min-width: 768px) {
  .lower-div {
    justify-content: center;
    padding: 38px 0 33px 0;
  }
}
@media screen and (max-width: 767px) {
  .lower-div {
    padding: 20px 0 20px 0;
  }
}

.contacttext {
  float: left;
  margin-right: 32px;
  color: #FFFFFF;
  display: flex;
}
.contacttext .caption {
  color: #FFFFFF;
  font-size: 1.6rem;
  line-height: 24px;
}
.contacttext .icon {
  font-size: 2.2rem;
  margin: 0 8px;
}

.dark-grey-bg {
  background-color: #6C7174;
}

@media screen and (max-width: 1020px) {
  footer .lcol {
    display: none;
  }
}
@media screen and (max-width: 1020px) and (min-width: 768px) {
  footer .upper-div {
    width: 25%;
  }
  footer .lower-div {
    width: 75%;
    display: block;
    clear: none;
    float: left;
  }
  footer .lower-div .socialicons {
    display: block;
    margin-top: 10px;
  }
  footer .lower-div .socialicons ul {
    display: none;
  }
}
.footer-container {
  display: flex;
  width: 100%;
  flex-direction: row;
}
.footer-container__links {
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-left: 65px;
}
@media screen and (max-width: 1300px) {
  .footer-container__links {
    margin-left: 30px;
  }
}
@media (max-width: 1020px) {
  .footer-container__links {
    display: none;
  }
}

/*-----Footer <end>------*/
/*
 * Footer Category
 *
 */
.light-white-grey-bg {
  background-color: #F9FBFC;
}

.footer-category-wrapper {
  float: left;
  width: 100%;
}
@media screen and (max-width: 767px) {
  .footer-category-wrapper {
    background-color: #ffffff;
    border-top: 1px solid #dddddd;
  }
}
.footer-category-wrapper .category-title {
  font-size: 2.4rem;
  font-family: "pf_handbook_probold";
  color: #C7222A;
}
@media screen and (max-width: 1399px) {
  .footer-category-wrapper .category-title {
    font-size: 2rem;
  }
}
@media screen and (max-width: 767px) {
  .footer-category-wrapper .category-title {
    padding-top: 16px;
    padding-bottom: 15px;
  }
  .footer-category-wrapper .category-title:after {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: "font-icons";
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    text-transform: none;
    font-size: 1.8rem;
    position: absolute;
    right: 32px;
  }
}
.footer-category-wrapper .category-title-link {
  display: inline-block;
  margin-bottom: 38px;
}
@media screen and (max-width: 1399px) {
  .footer-category-wrapper .category-title-link {
    margin-bottom: 18px;
  }
}
@media screen and (max-width: 767px) {
  .footer-category-wrapper .category-title-link {
    margin-bottom: 0;
    display: block;
  }
  .footer-category-wrapper .category-title-link.active .category-title:after {
    transform: rotate(-90deg);
  }
  .footer-category-wrapper .category-title-link.active .category-title:before {
    content: none;
  }
}
.footer-category-wrapper .category-title-link:hover, .footer-category-wrapper .category-title-link:active, .footer-category-wrapper .category-title-link:focus {
  border-bottom: none;
}
.footer-category-wrapper .category-subtitle {
  margin-bottom: 17px;
}
.footer-category-wrapper .category-subtitle a {
  font-size: 1.8rem;
  line-height: 20px;
  font-family: "pf_handbook_probold";
  color: #C7222A;
}
@media screen and (max-width: 1399px) {
  .footer-category-wrapper .category-subtitle {
    margin-bottom: 13px;
  }
  .footer-category-wrapper .category-subtitle a {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 1020px) {
  .footer-category-wrapper .category-subtitle {
    margin-bottom: 10px;
  }
}
.footer-category-wrapper .category-content-item ul {
  padding-left: 0;
}
.footer-category-wrapper .category-content-item ul li {
  margin-bottom: 20px;
  padding-bottom: 0px;
  padding-top: 0px;
  margin-right: 24px;
}
.footer-category-wrapper .category-content-item ul li a {
  font-size: 1.6rem;
  line-height: 20px;
  color: #000000;
}
.footer-category-wrapper .category-content-item ul li a:hover, .footer-category-wrapper .category-content-item ul li a:active, .footer-category-wrapper .category-content-item ul li a:focus {
  color: #000000;
  border-bottom-color: #000000;
}
.footer-category-wrapper .category-content-item ul li::before {
  display: none;
}
@media screen and (max-width: 1399px) {
  .footer-category-wrapper .category-content-item ul li {
    margin-bottom: 10px;
  }
  .footer-category-wrapper .category-content-item ul li a {
    font-size: 1.3rem;
    line-height: 17px;
  }
}
.footer-category-wrapper .category-content-wrapper {
  display: flex;
  flex-wrap: nowrap;
  margin: 37px 0 33px 0;
}
@media screen and (max-width: 1399px) {
  .footer-category-wrapper .category-content-wrapper {
    margin: 32px 0 30px 0;
  }
}
@media screen and (max-width: 1020px) {
  .footer-category-wrapper .category-content-wrapper {
    margin: 17px 0 15px 0;
  }
}
@media screen and (max-width: 767px) {
  .footer-category-wrapper .category-content-wrapper {
    display: block;
    margin: 0px;
  }
}
.footer-category-wrapper .category-content {
  display: flex;
  flex-wrap: nowrap;
}
@media screen and (max-width: 1020px) {
  .footer-category-wrapper .category-content {
    display: block;
  }
}
@media screen and (max-width: 767px) {
  .footer-category-wrapper .category-content {
    display: none;
    margin-top: 12px;
  }
}
.footer-category-wrapper .category-wrapper {
  border-left: 1px solid #d8d8d8;
  padding-left: 41px;
  margin-left: 71px;
}
.footer-category-wrapper .category-wrapper.no-archive-section {
  border-left: none;
  padding-left: 0;
  margin-left: 0;
}
.footer-category-wrapper .category-wrapper .category-content-item {
  margin-right: 54px;
  max-width: 195px;
}
.footer-category-wrapper .category-wrapper .category-content-item:last-child {
  margin-right: 0px;
}
.footer-category-wrapper .category-wrapper .category-content-item ul li {
  margin-right: 0;
}
@media screen and (max-width: 1020px) {
  .footer-category-wrapper .category-wrapper .category-content-item ul {
    display: none;
  }
}
@media screen and (max-width: 1199px) {
  .footer-category-wrapper .category-wrapper {
    padding-left: 31px;
    margin-left: 11px;
  }
  .footer-category-wrapper .category-wrapper .category-content-item {
    margin-right: 22px;
  }
}
@media screen and (max-width: 1020px) {
  .footer-category-wrapper .category-wrapper {
    width: 55%;
  }
}
@media screen and (max-width: 767px) {
  .footer-category-wrapper .category-wrapper {
    width: 100%;
    padding-left: 0;
    margin-left: 0;
    border-left: none;
    margin-bottom: 25px;
  }
  .footer-category-wrapper .category-wrapper .category-title-link:before {
    content: "";
    background-color: #dddddd;
    height: 1px;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
  }
}
.footer-category-wrapper .category-archive-wrapper .category-content-item ul {
  columns: 2;
}
@media screen and (max-width: 1020px) {
  .footer-category-wrapper .category-archive-wrapper {
    flex: 1 0 45%;
  }
}
@media screen and (max-width: 767px) {
  .footer-category-wrapper .category-archive-wrapper .category-title:before {
    background-color: #dddddd;
    height: 1px;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    margin-top: 35px;
  }
}

.show-older-link {
  font-family: "pf_handbook_probold" !important;
  border-bottom: 1px solid !important;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "pf_handbook_proregular";
  line-height: 1.6;
  background: #F1F3F6;
}

a {
  text-decoration: none;
}

footer {
  background: #464646;
  width: 100%;
  padding: 0;
  margin: 0;
  min-height: 100px;
}
footer .container {
  padding-left: 2.25%;
  padding-right: 2.25%;
}

.showcase {
  padding: 36px 48px 64px 48px;
}
.showcase .showcase-header {
  font-family: "pf_handbook_probold";
  font-size: 3.5rem;
  color: #242424;
  text-align: center;
}
.showcase .showcase-subheader {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  font-size: 1.8rem;
  color: #393939;
  padding: 0.5rem 0 1.5rem 0;
}
.showcase .showcase-row {
  margin-top: 3rem;
}
.showcase .leadgen-card-wrapper {
  padding: 0 2.5rem 0 1.5rem;
}
.showcase .leadgen-card-wrapper .leadgen-card {
  background: #F1F3F6;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
  border: none;
  border-radius: 5px;
}
.showcase .leadgen-card-wrapper .leadgen-card .card-body {
  padding: 2rem 3rem;
}
.showcase .leadgen-card-wrapper .leadgen-card .card-body .card-title {
  font-family: "pf_handbook_probold";
  font-size: 3.2rem;
  padding-bottom: 2rem;
}
.showcase .leadgen-card-wrapper .leadgen-card .card-body .input-group {
  font-size: 1.8rem;
  margin-bottom: 1.6rem;
}
.showcase .leadgen-card-wrapper .leadgen-card .card-body .input-group .input-group-addon {
  color: transparent;
}
.showcase .leadgen-card-wrapper .leadgen-card .card-body .input-group .input-group-addon.name-icon {
  background: #FFFFFF url("../assets/icons/user-icon.svg") no-repeat center;
}
.showcase .leadgen-card-wrapper .leadgen-card .card-body .input-group .input-group-addon.mobile-icon {
  background: #FFFFFF url("../assets/icons/mobile-icon.svg") no-repeat center;
}
.showcase .leadgen-card-wrapper .leadgen-card .card-body .input-group .input-group-addon.email-icon {
  background: #FFFFFF url("../assets/icons/email-icon.svg") no-repeat center;
}
.showcase .leadgen-card-wrapper .leadgen-card .card-body .input-group .form-control {
  height: 4rem;
  font-size: 1.8rem;
}
.showcase .leadgen-card-wrapper .leadgen-card .card-body .note-text {
  font-size: 1.5rem;
  padding: 12px 0;
}
.showcase .leadgen-card-wrapper .leadgen-card .card-body .note-text a {
  color: #000000;
  font-family: "pf_handbook_probold";
  text-decoration: underline;
}
.showcase .fnb-container {
  padding: 2rem 2rem 2rem 3rem;
}
.showcase .fnb-container .fnb-header {
  font-family: "pf_handbook_probold";
  font-size: 3.5rem;
  margin-bottom: 1.6rem;
}
.showcase .fnb-container .fnb-list-wrapper {
  display: flex;
  flex-wrap: wrap;
}
.showcase .fnb-container .fnb-list-wrapper .fnb {
  width: 50%;
  display: flex;
  margin: 1.6rem 0;
  padding-right: 1rem;
}
.showcase .fnb-container .fnb-list-wrapper .fnb-icon-wrapper {
  padding-right: 1rem;
}
.showcase .fnb-container .fnb-list-wrapper .fnb-icon-wrapper .fnb-icon {
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  background: #C7222A;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
}
.showcase .fnb-container .fnb-list-wrapper .fnb-icon-wrapper .fnb-icon.easy-to-use {
  background: #C7222A url("../assets/icons/noun_easy_2036017.svg") center no-repeat;
}
.showcase .fnb-container .fnb-list-wrapper .fnb-icon-wrapper .fnb-icon.privacy-protected {
  background: #C7222A url("../assets/icons/noun_Privacy_3406028.svg") center no-repeat;
}
.showcase .fnb-container .fnb-list-wrapper .fnb-icon-wrapper .fnb-icon.interactive-help {
  background: #C7222A url("../assets/icons/noun_Video_Chat_741406.svg") center no-repeat;
}
.showcase .fnb-container .fnb-list-wrapper .fnb-icon-wrapper .fnb-icon.secured {
  background: #C7222A url("../assets/icons/noun_Secured_3087838.svg") center no-repeat;
}
.showcase .fnb-container .fnb-list-wrapper .fnb-details-header {
  color: #141414;
  font-family: "pf_handbook_probold";
  font-size: 2rem;
}
.showcase .fnb-container .fnb-list-wrapper .fnb-details-desc {
  font-size: 1.6rem;
  line-height: 1.3;
  color: #393939;
}

.upper-div {
  display: flex;
}
.upper-div .logo {
  padding-right: 6rem;
}
.upper-div ul li a {
  font-size: 2rem;
}

.lower-div {
  display: flex;
  align-items: center;
}
.lower-div .socialicons {
  display: flex;
  align-items: center;
}
.lower-div .socialicons ul li a {
  font-size: 2rem;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 99;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 6rem 10rem;
  border: 1px solid #888;
  width: 80%;
  position: relative;
}
.modal-content p {
  font-size: 1.6rem;
  line-height: 1.5;
  margin-bottom: 2rem;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  position: absolute;
  top: 0;
  right: 2rem;
  font-size: 6rem;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.abcicons:before,
.abcicons:after {
  font-family: "icon-font" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-osx-font-smoothing: grayscale;
}

.icon-icon-login:before {
  content: "i";
}

.icon-icon-phone:before {
  content: "v";
}

.icon-icon-facebook:before {
  content: "g";
}

.icon-icon-instagram:before {
  content: "E";
}

.icon-icon-linkedin:before {
  content: "F";
}

.icon-icon-twitter:before {
  content: "q";
}

.icon-icon-youtube:before {
  content: "n";
}

/*# sourceMappingURL=style.css.map */
