@font-face {
    font-family: "pf_handbook_probold";
    src: url('../assets/fonts/PFHandbookPro-Bold_35433.woff') format('woff');
}
@font-face {
    font-family: "pf_handbook_promedium";
    src: url('../assets/fonts/pfhandbookpro-medium.woff2') format('woff2'),
      url('../assets/fonts/pfhandbookpro-medium.woff') format('woff');
}
@font-face {
    font-family: "pf_handbook_proregular";
    src: url('../assets/fonts/pfhandbookpro-regular.woff2') format('woff2'),
      url('../assets/fonts/pfhandbookpro-regular.woff') format('woff');
}